
    <
    <div id="raadGetal">
      <section>
        <h1>Raad het getal!</h1>
        <h3>Raad een getal tussen 1 en 100.</h3>
        <p>Je mag maximum 10 keer raden.</p>
        <input #guess placeholder="Jouw gok" (keydown.enter)="waagEenGokje(guess.value)"/>
        <button (click)="waagEenGokje(guess.value)">Doe een gok</button>
      </section>
      <section class="check-number">
        <p>{{guidelines[numberOfGuesses]}}</p>
        <p>Je mag nog {{numberOfGuesses}} keer raden.</p>

        <ul>
          <li *ngFor="let item of guidelines">{{item}}</li>
        </ul>
      </section>
    </div>
