
    <
    <div id="raadGetal">
      <section>
        <h1>Raad het getal!</h1>
        <h3>Raad een getal tussen 1 en 100.</h3>
        <p>Je mag maximum 10 keer raden.</p>
        <input #guess placeholder="Jouw gok" [disabled]="numberOfGuesses<=0 || gok==random" (keydown.enter)="waagEenGokje(guess.value)"/>
        <button (click)="waagEenGokje(guess.value)" [disabled]="numberOfGuesses<=0 || gok==random">Doe een gok</button>
      </section>

      <section *ngIf="gok!=random; else win">
        <p *ngIf="numberOfGuesses!=0; else outOfChances"><strong>Je mag nog {{numberOfGuesses}} keer raden.</strong></p>
        <ng-template #outOfChances>
          <p>Al jouw kansen zijn opbruikt, het nummer dat we zochten was {{random}}.</p>
          <button (click)="refreshPage()">probeer opnieuw</button>
        </ng-template>
        <p *ngFor="let item of guidelines">{{item}}</p>
      </section>

      <ng-template #win>
        <section>
          <h2>U hebt het correcte nummer geraden.</h2>
          <label>het nummer was <strong>{{random}}</strong></label>
          <button (click)="refreshPage()">opnieuw</button>
        </section>
      </ng-template>
    </div>
